@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
	box-sizing: border-box;
}
body{
    background: url(../img/MY/Fondo_pass.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size:cover;
    font-family: 'Roboto', sans-serif;
}
.logona {
	width: 70px;
	display: block;
	margin: auto;
  }

.modal-efe{
	margin-top: 50px;
}
  .modal-header {
	
	  border-radius: 3px;
	  margin-right: -0.2px;
	  background: rgb(156,195,242);
	  background: linear-gradient(90deg, rgba(156,195,242,1) 0%, rgba(13,84,242,1) 100%);
  }
    .ex {
      font-size: 30px;
      color: #000;
      transition: all 0.5s;
    }
    .ex:hover {
      color: #FC0202;
    }
  .modal-title {
	text-align: center;
	padding: 0px;
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	color: #000;
  }
main{
	max-width: 800px;
	width: 100%;
	margin: auto;
	padding: 40px;

}
.formulario{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid: 20px;
}
.formulario__label{
	display: block;
	font-weight: 700;
	padding: 5px;
	color: #000;
	cursor: pointer;
        margin-top: 10px;
	transition: all 0.5s;
}
.formulario__label:hover {
        color: #0075ff;
}
.formulario_laberl-check {
        display: block;
	font-weight: 700;
	padding: 5px;
	color: #000;
	cursor: pointer;
        margin-top: 10px;
	transition: all 0.5s;
}
.formulario__label-check:hover {
        color: #0075ff;
}
.formulario__grupo-input{
	position: relative;
}

.formulario__input{
	width: 90%;
	background: #Fff;
	border:none;
	border-bottom: 1px solid #9A9393;
        box-sizing: border-box;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 35px;
	transition: all 0.5s;
	outline: none;
        display: block;
	margin-right: 10px;
}
.formulario__input:hover{

	border-bottom: 2px solid #0075ff;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none; /*ocultar*/
	transition: all 0.5s;
}
.formulario__input-error-activo {
	display:block;
	width: 90%;
	margin-top: 15px;
	color: #bb2929;
        transition: all 0.5s;
}
.formulario__validacion-estado {
	position:absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 25px;
	opacity: 0;
        transition: all 0.5s;
}
.formulario__checkbox{
	margin-top: 40px;
        transition: all 0.5s;
}
.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
grid-column: span 2;
}

#grupo__terminos{
    padding-top: 30px;
    text-align: center;
    grid-column: span 2;
    color:#000;
    margin:10px 0 17px 0;
    transition: all 0.5s;
}

.formulario__mensaje{
	margin: 10px 0 10px 0;
	height: 45px;
	background: #f66060;
	padding: 12px 15px;
	border-radius: 3px;
	display: none;
	transition: all 0.5s;
}

.formulario__mensaje-activo{
	display: block;
	
}

.formulario__mensaje p{
	margin: 0;
	color: #000;
}
.formulario__grupo-btn-enviar{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulario__btn{
	height: 45px;
	line-height: 45px;
	width: 50%;
	background: #0075ff;
	color: #Fff;
	font-weight: bold;
	border:none;
	border-radius: 3px;
	cursor: pointer;
	transition:  .1s ease all;
}

.formulario__btn:hover{
box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito{
	font-size:14px;
	color: #119200; 
	display: none;
}
.formulario__mensaje-exito-activo{
	display: block;
	margin-top: 19px;
}

/*Estilos para validar*/

.formulario__grupo-incorrecto .formulario__label{
	color: #bb2929;
        transition: all 0.5s;
}
.formulario__grupo-incorrecto .formulario__validacion-estado{
	color: #bb2929;
	opacity: 1;
        transition: all 0.5s;
}

.formulario__grupo-incorrecto .formulario__input{
	
	border-bottom: 2px solid #bb2929;
}

.formulario__grupo-correcto .formulario__label{
	color: #1ed12d;
        transition: all 0.5s;
}
.formulario__grupo-correcto .formulario__validacion-estado{
        color: #1ed12d;
        opacity: 1;
}
.formulario__grupo-correcto .formulario__input{
	
	border-bottom: 2px solid #1ed12d;
}

/* media queries*/
@media screen and (max-width: 800px){
	.formulario{
	
	grid-template-columns: 1fr ;
        
	}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
grid-column: span 1;
}

#grupo__terminos{

grid-column: span 1;

}

.formulario__btn{
	width: 80%;
}

.formulario__input{
    
	width: 100%;
}

}

.ojos1 {
    
  position: absolute;
  display: none;
  font-size: 17px;
  margin: 13px 0 0 85%;
  cursor: pointer;
  visibility: visible;
  transition: all 0.5s;
}
.ojos2 {
  position: absolute;
  cursor: pointer;
  display: none;
  font-size: 17px;
  margin: 13px 0 0 90%;
  visibility: visible;
}
.ojos1-correcto {
  visibility: hidden;
}
.ojos2-correcto {
  visibility: visible;
}